<html>
<head>
	<title>Maths Olympiad | Wissenaire’21</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">	
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
  	<link href="../stylesheets/icofont/icofont.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../stylesheets/navbar.css" rel="stylesheet">
	<link rel="icon" type="image/png"  href="../images/logo-mini.png" type="image/x-icon">
	<link rel="stylesheet" href="../stylesheets/exam.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <style>
	  
	  .nav {
		 position: fixed;
		 top:50%;
	  }
	  .nav-link{
		  background: white;
		  margin: 5px;
		  margin-top: auto;
	  }
  </style>
</head>

<body>
	<!-- <div id="preloader" style="width: 100vw; height: 100vh; z-index: 10000; background: black;">
		<img src="./images/preloader1.gif" id="loader" style="width: 100vw; background:black;">
	</div> -->
	<header style="height: 1vh !important;" class="hidden">
		<div id="navigation" class="">
			<a class="menu-toggle d-none d-lg-block" style="color: white;">
				<i class="icofont-ui-user"></i> &nbsp; <%=id%>
			</a>
			<a class="menu-toggle d-none d-lg-block" style="color: white; width: 100%" align="center">
				<h3>Maths Olympiad</h3>
			</a>
			
			<div id="block-butterfly-branding" class="site-branding block block-system block-system-branding-block">
				<a href="../" title="Home" rel="home" class="site-branding__logo"> 
					<dpan class="sr-only">Wissenaire logo</dpan>
				</a>
			</div>

			

			<div align="center" style="color: white; margin-top: 120px; font-size: large;">
				<p class="d-block d-lg-none"><i class="icofont-ui-user"></i> &nbsp;<%=id%></p>
				TIME LEFT: 
				<span id="hours"></span>&nbsp;
				<span id="mins"></span>&nbsp;
				<span id="secs"></span>&nbsp;
			</div>

			<script>
				var  hours, minutes, seconds;
				var myfunc = setInterval(function() {
					var now = new window.Date(); 
					var timeleft = parseInt('<%=starttime%>') +  7200000 - now;
					var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
					var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
					var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
					document.getElementById("hours").innerHTML = hours + "h " 
					document.getElementById("mins").innerHTML = minutes + "m " 
					document.getElementById("secs").innerHTML = seconds + "s"
					if(hours == 0 && seconds == 0 && (minutes == 2 || minutes == 5 || minutes == 10)){
						new swal({
						title: ''+minutes+' Minutes Left',
						icon: 'warning'
					})
				}

					if(hours < 0 && minutes < 0 && seconds < 0){
						new swal({
							title: 'Time is up!',
							text: 'You can close this browser tab Thanks for attending !'
						})
						document.getElementById("body").innerHTML = '';					
					}
				}, 1000);

				
			</script>

		</div>
	</header>

	<div class="container" id="body" style="color: white; margin-top: 75px; margin-bottom: 25px;">
		<div style="padding: 20px; border: 1.5px solid white; border-radius: 15px;">
			<h4>Question No. 1</h4><br>
			If ( √(8+𝑖) ) <sup>50</sup> = (3<sup>49</sup>) *{(a + ib)}, then find the value of (a<sup>2</sup> + b<sup>2</sup>).
			<br><br>
			<form id="q1" enctype="multipart/form-data">
				<input id="sub1" type="file"  name="filea">
				<input type="hidden" name="wissid" value="<%=id%>">
				<button type="submit" class="btn btn-primary">Choose a file and Submit</button>
			</form>
			<script>
				$("#q1").submit(function(e) {
					e.preventDefault(); 
					console.log('insert clicked');
					var image_name = $('#sub1').val();
					if(image_name== ''){
						console.log('no name');
						new swal({
							title : 'No file', 
							text: 'Please select a file', 
							icon: 'error'
						})
						return false;
					}
					else{
						var extension = $('#sub1').val().split('.').pop().toLowerCase();
							if(jQuery.inArray(extension, ['pdf']) == -1){
								new swal({
									title : 'Wrong Extension', 
									text: 'Please upload a pdf file', 
									icon: 'error'
								})
								console.log('extension wrong');
								$('#sub1').val('');
								return false;
							}
						}
					var formData = new FormData(this);
					console.log('uploading');

					$.ajax({
						type: "POST",
						url: '/maths/submissiona',
						data: formData, 
						cache: false,
						contentType: false,
						processData: false,
						success: function(result)
						{
							if(result == 'success'){
								new swal({
									title: 'Success',
									text: 'Submitted Successfully',
									icon: 'success'
								});
							}
							
							else {
								new swal({
									title: 'Error',
									text: result,
									icon: 'error'
								});
							}
						}
					});
				  });
			</script>
			<a class="btn btn-primary" type="button" href="../uploads/maths/<%=id%>-1.pdf">Check Uploaded pdf</a>

		</div>
		<br><br>

		<div style="padding: 20px; border: 1.5px solid white; border-radius: 15px;">
			<h4>Question No. 2</h4><br>
			A quadratic curve and a straight-line y = ax + b (a>0) intersect each other at points
that lie on the axes. One of the points is (-4, 0). The points of intersection of the
curve and x-axis are 6 units apart. Find a + b.
<br><br>
			<form id="q2" enctype="multipart/form-data">
				<input id="sub2" type="file"  name="fileb">
				<input type="hidden" name="wissid" value="<%=id%>">
				<button type="submit" class="btn btn-primary">Choose a file and Submit</button>
			</form>
			<script>
				$("#q2").submit(function(e) {
					e.preventDefault(); 
					console.log('insert clicked');
					var image_name = $('#sub2').val();
					if(image_name== ''){
						console.log('no name');
						new swal({
							title : 'No file', 
							text: 'Please select a file', 
							icon: 'error'
						})
						return false;
					}
					else{
						var extension = $('#sub2').val().split('.').pop().toLowerCase();
							if(jQuery.inArray(extension, ['pdf']) == -1){
								new swal({
									title : 'Wrong Extension', 
									text: 'Please upload a pdf file', 
									icon: 'error'
								})
								console.log('extension wrong');
								$('#sub2').val('');
								return false;
							}
						}
					var formData = new FormData(this);
					console.log('uploading');

					$.ajax({
						type: "POST",
						url: '/maths/submissionb',
						data: formData, 
						cache: false,
						contentType: false,
						processData: false,
						success: function(result)
						{
							if(result == 'success'){
								new swal({
									title: 'Success',
									text: 'Submitted Successfully',
									icon: 'success'
								});
							}
							
							else {
								new swal({
									title: 'Error',
									text: 'err',
									icon: 'error'
								});
								console.log(result)
							}
						}
					});
				  });
			</script>
			<a class="btn btn-primary" type="button" href="../uploads/maths/<%=id%>-2.pdf">Check Uploaded pdf</a>

		</div>

		<br><br>

		<div style="padding: 20px; border: 1.5px solid white; border-radius: 15px;">
			<h4>Question No. 3</h4><br>
			Let f be a twice differentiable function such that f (1/𝑛) =𝑛<sup>2</sup> /𝑛<sup>2</sup>+1, n = 1, 2, 3, …Then the magnitude of f”(0) is?
			<br><br>
			<form id="q3" enctype="multipart/form-data">
				<input id="sub3" type="file"  name="filec">
				<input type="hidden" name="wissid" value="<%=id%>">
				<button type="submit" class="btn btn-primary">Choose a file and Submit</button>
			</form>
			<script>
				$("#q3").submit(function(e) {
					e.preventDefault(); 
					console.log('insert clicked');
					var image_name = $('#sub3').val();
					if(image_name== ''){
						console.log('no name');
						new swal({
							title : 'No file', 
							text: 'Please select a file', 
							icon: 'error'
						})
						return false;
					}
					else{
						var extension = $('#sub3').val().split('.').pop().toLowerCase();
							if(jQuery.inArray(extension, ['pdf']) == -1){
								new swal({
									title : 'Wrong Extension', 
									text: 'Please upload a pdf file', 
									icon: 'error'
								})
								console.log('extension wrong');
								$('#sub3').val('');
								return false;
							}
						}
					var formData = new FormData(this);
					console.log('uploading');

					$.ajax({
						type: "POST",
						url: '/maths/submissionc',
						data: formData, 
						cache: false,
						contentType: false,
						processData: false,
						success: function(result)
						{
							if(result == 'success'){
								new swal({
									title: 'Success',
									text: 'Submitted Successfully',
									icon: 'success'
								});
							}
							
							else {
								new swal({
									title: 'Error',
									text: 'error',
									icon: 'error'
								});
								console.log(result)
							}
						}
					});
				  });
			</script>
			<a class="btn btn-primary" type="button" href="../uploads/maths/<%=id%>-3.pdf">Check Uploaded pdf</a>

		</div>
		<br><br>

		<div style="padding: 20px; border: 1.5px solid white; border-radius: 15px;">
			<h4>Question No. 4</h4><br>
			What is the sum of all the five-digit numbers that can be formed using the digits 1,
2, 3, 4 and 5 if no digit is repeated? <br><br>
			<form id="q4" enctype="multipart/form-data">
				<input id="sub4" type="file"  name="filed">
				<input type="hidden" name="wissid" value="<%=id%>">
				<button type="submit" class="btn btn-primary">Choose a file and Submit</button>
			</form>
			<script>
				$("#q4").submit(function(e) {
					e.preventDefault(); 
					console.log('insert clicked');
					var image_name = $('#sub4').val();
					if(image_name== ''){
						console.log('no name');
						new swal({
							title : 'No file', 
							text: 'Please select a file', 
							icon: 'error'
						})
						return false;
					}
					else{
						var extension = $('#sub4').val().split('.').pop().toLowerCase();
							if(jQuery.inArray(extension, ['pdf']) == -1){
								new swal({
									title : 'Wrong Extension', 
									text: 'Please upload a pdf file', 
									icon: 'error'
								})
								console.log('extension wrong');
								$('#sub4').val('');
								return false;
							}
						}
					var formData = new FormData(this);
					console.log('uploading');

					$.ajax({
						type: "POST",
						url: '/maths/submissiond',
						data: formData, 
						cache: false,
						contentType: false,
						processData: false,
						success: function(result)
						{
							if(result == 'success'){
								new swal({
									title: 'Success',
									text: 'Submitted Successfully',
									icon: 'success'
								});
							}
							
							else {
								new swal({
									title: 'Error',
									text: 'error',
									icon: 'error'
								});
								console.log(result)
							}
						}
					});
				  });
			</script>
			<a class="btn btn-primary" type="button" href="../uploads/maths/<%=id%>-4.pdf">Check Uploaded pdf</a>

		</div>

		<br><br>

		<br><br>

		<div style="padding: 20px; border: 1.5px solid white; border-radius: 15px;">
			<h4>Question No. 5</h4><br>
			Two non-negative integers a and b are chosen at random from the set of nonnegative integers. In terms of percentages, what is the probability of a2 + b2 being
divisible by 10?<br><br>
			<form id="q5" enctype="multipart/form-data">
				<input id="sub5" type="file"  name="filee">
				<input type="hidden" name="wissid" value="<%=id%>">
				<button type="submit" class="btn btn-primary">Choose a file and Submit</button>
			</form>
			<script>
				$("#q5").submit(function(e) {
					e.preventDefault(); 
					console.log('insert clicked');
					var image_name = $('#sub5').val();
					if(image_name== ''){
						console.log('no name');
						new swal({
							title : 'No file', 
							text: 'Please select a file', 
							icon: 'error'
						})
						return false;
					}
					else{
						var extension = $('#sub5').val().split('.').pop().toLowerCase();
							if(jQuery.inArray(extension, ['pdf']) == -1){
								new swal({
									title : 'Wrong Extension', 
									text: 'Please upload a pdf file', 
									icon: 'error'
								})
								console.log('extension wrong');
								$('#sub5').val('');
								return false;
							}
						}
					var formData = new FormData(this);
					console.log('uploading');

					$.ajax({
						type: "POST",
						url: '/maths/submissione',
						data: formData, 
						cache: false,
						contentType: false,
						processData: false,
						success: function(result)
						{
							if(result == 'success'){
								new swal({
									title: 'Success',
									text: 'Submitted Successfully',
									icon: 'success'
								});
							}
							
							else {
								new swal({
									title: 'Error',
									text: 'error',
									icon: 'error'
								});
								console.log(result)
							}
						}
					});
				  });
			</script>
			<a class="btn btn-primary" type="button" href="../uploads/maths/<%=id%>-5.pdf">Check Uploaded pdf</a>

		</div>

		<br><br>

		<div style="padding: 20px; border: 1.5px solid white; border-radius: 15px;">
			<h4>Question No. 6</h4><br>
			Find all pairs of a, b such that (a<sup>2</sup>+b)/(b<sup>2</sup>-a) and (b<sup>2</sup>+a)/(a<sup>2</sup>-b) are both integers?<br><br>
			<form id="q6" enctype="multipart/form-data">
				<input id="sub6" type="file"  name="filef">
				<input type="hidden" name="wissid" value="<%=id%>">
				<button type="submit" class="btn btn-primary">Choose a file and Submit</button>
			</form>
			<script>
				$("#q6").submit(function(e) {
					e.preventDefault(); 
					console.log('insert clicked');
					var image_name = $('#sub6').val();
					if(image_name== ''){
						console.log('no name');
						new swal({
							title : 'No file', 
							text: 'Please select a file', 
							icon: 'error'
						})
						return false;
					}
					else{
						var extension = $('#sub6').val().split('.').pop().toLowerCase();
							if(jQuery.inArray(extension, ['pdf']) == -1){
								new swal({
									title : 'Wrong Extension', 
									text: 'Please upload a pdf file', 
									icon: 'error'
								})
								console.log('extension wrong');
								$('#sub6').val('');
								return false;
							}
						}
					var formData = new FormData(this);
					console.log('uploading');

					$.ajax({
						type: "POST",
						url: '/maths/submissionf',
						data: formData, 
						cache: false,
						contentType: false,
						processData: false,
						success: function(result)
						{
							if(result == 'success'){
								new swal({
									title: 'Success',
									text: 'Submitted Successfully',
									icon: 'success'
								});
							}
							
							else {
								new swal({
									title: 'Error',
									text: 'error',
									icon: 'error'
								});
								console.log(result)
							}
						}
					});
				  });
			</script>
			<a class="btn btn-primary" type="button" href="../uploads/maths/<%=id%>-6.pdf">Check Uploaded pdf</a>

		</div>

		<br><br>

		<div style="padding: 20px; border: 1.5px solid white; border-radius: 15px;">
			<h4>Question No. 7</h4><br>
			Determine all pairs (x, y) of positive integers such that (x<sup>2</sup>y+x+y) is divisible by (xy<sup>2</sup>+y+7)?
			<br><br>
			<form id="q7" enctype="multipart/form-data">
				<input id="sub7" type="file"  name="fileg">
				<input type="hidden" name="wissid" value="<%=id%>">
				<button type="submit" class="btn btn-primary">Choose a file and Submit</button>
			</form>
			<script>
				$("#q7").submit(function(e) {
					e.preventDefault(); 
					console.log('insert clicked');
					var image_name = $('#sub7').val();
					if(image_name== ''){
						console.log('no name');
						new swal({
							title : 'No file', 
							text: 'Please select a file', 
							icon: 'error'
						})
						return false;
					}
					else{
						var extension = $('#sub7').val().split('.').pop().toLowerCase();
							if(jQuery.inArray(extension, ['pdf']) == -1){
								new swal({
									title : 'Wrong Extension', 
									text: 'Please upload a pdf file', 
									icon: 'error'
								})
								console.log('extension wrong');
								$('#sub7').val('');
								return false;
							}
						}
					var formData = new FormData(this);
					console.log('uploading');

					$.ajax({
						type: "POST",
						url: '/maths/submissiong',
						data: formData, 
						cache: false,
						contentType: false,
						processData: false,
						success: function(result)
						{
							if(result == 'success'){
								new swal({
									title: 'Success',
									text: 'Submitted Successfully',
									icon: 'success'
								});
							}
							
							else {
								new swal({
									title: 'Error',
									text: 'error',
									icon: 'error'
								});
								console.log(result)
							}
						}
					});
				  });
			</script>
			<a class="btn btn-primary" type="button" href="../uploads/maths/<%=id%>-7.pdf">Check Uploaded pdf</a>

		</div>


		<br><br>

		<div style="padding: 20px; border: 1.5px solid white; border-radius: 15px;">
			<h4>Question No. 8</h4><br>
			Suppose that a and b are natural number, such that P= (b/4)[√ (2a − b) / √ 2a+b ] is a prime number. Find all possible values of a, b and p?
			<br><br>
			<form id="q8" enctype="multipart/form-data">
				<input id="sub8" type="file"  name="fileh">
				<input type="hidden" name="wissid" value="<%=id%>">
				<button type="submit" class="btn btn-primary">Choose a file and Submit</button>
			</form>
			<script>
				$("#q8").submit(function(e) {
					e.preventDefault(); 
					console.log('insert clicked');
					var image_name = $('#sub8').val();
					if(image_name== ''){
						console.log('no name');
						new swal({
							title : 'No file', 
							text: 'Please select a file', 
							icon: 'error'
						})
						return false;
					}
					else{
						var extension = $('#sub8').val().split('.').pop().toLowerCase();
							if(jQuery.inArray(extension, ['pdf']) == -1){
								new swal({
									title : 'Wrong Extension', 
									text: 'Please upload a pdf file', 
									icon: 'error'
								})
								console.log('extension wrong');
								$('#sub8').val('');
								return false;
							}
						}
					var formData = new FormData(this);
					console.log('uploading');

					$.ajax({
						type: "POST",
						url: '/maths/submissionh',
						data: formData, 
						cache: false,
						contentType: false,
						processData: false,
						success: function(result)
						{
							if(result == 'success'){
								new swal({
									title: 'Success',
									text: 'Submitted Successfully',
									icon: 'success'
								});
							}
							
							else {
								new swal({
									title: 'Error',
									text: 'error',
									icon: 'error'
								});
								console.log(result)
							}
						}
					});
				  });
			</script>
			<a class="btn btn-primary" type="button" href="../uploads/maths/<%=id%>-8.pdf">Check Uploaded pdf</a>

		</div>

		<br><br>

		<div style="padding: 20px; border: 1.5px solid white; border-radius: 15px;">
			<h4>Question No. 9</h4><br>
			Let a, b, and c be given positive numbers. Determine all positive real numbers x, y, and z such that x+ y+ z = a+ b+ c, 4xyz−(a<sup>2</sup>x+b<sup>2</sup>y+c<sup>2</sup>z) = abc?
			<br><br>
			<form id="q9" enctype="multipart/form-data">
				<input id="sub9" type="file"  name="filei">
				<input type="hidden" name="wissid" value="<%=id%>">
				<button type="submit" class="btn btn-primary">Choose a file and Submit</button>
			</form>
			<script>
				$("#q9").submit(function(e) {
					e.preventDefault(); 
					console.log('insert clicked');
					var image_name = $('#sub9').val();
					if(image_name== ''){
						console.log('no name');
						new swal({
							title : 'No file', 
							text: 'Please select a file', 
							icon: 'error'
						})
						return false;
					}
					else{
						var extension = $('#sub9').val().split('.').pop().toLowerCase();
							if(jQuery.inArray(extension, ['pdf']) == -1){
								new swal({
									title : 'Wrong Extension', 
									text: 'Please upload a pdf file', 
									icon: 'error'
								})
								console.log('extension wrong');
								$('#sub9').val('');
								return false;
							}
						}
					var formData = new FormData(this);
					console.log('uploading');

					$.ajax({
						type: "POST",
						url: '/maths/submissioni',
						data: formData, 
						cache: false,
						contentType: false,
						processData: false,
						success: function(result)
						{
							if(result == 'success'){
								new swal({
									title: 'Success',
									text: 'Submitted Successfully',
									icon: 'success'
								});
							}
							
							else {
								new swal({
									title: 'Error',
									text: 'error',
									icon: 'error'
								});
								console.log(result)
							}
						}
					});
				  });
			</script>
			<a class="btn btn-primary" type="button" href="../uploads/maths/<%=id%>-9.pdf">Check Uploaded pdf</a>

		</div>

		<br><br>

		<div style="padding: 20px; border: 1.5px solid white; border-radius: 15px;">
			<h4>Question No. 10</h4><br>
			Find all solutions to the system of equations 6(x−y<sup>-1</sup>) = 3(y−z<sup>-1</sup>) = 2(z−x<sup>-1</sup>) =xyz−(xyz)<sup>-1</sup> in nonzero real numbers x, y, z?			<br><br>
			<form id="q10" enctype="multipart/form-data">
				<input id="sub10" type="file"  name="filej">
				<input type="hidden" name="wissid" value="<%=id%>">
				<button type="submit" class="btn btn-primary">Choose a file and Submit</button>
			</form>
			<script>
				$("#q10").submit(function(e) {
					e.preventDefault(); 
					console.log('insert clicked');
					var image_name = $('#sub10').val();
					if(image_name== ''){
						console.log('no name');
						new swal({
							title : 'No file', 
							text: 'Please select a file', 
							icon: 'error'
						})
						return false;
					}
					else{
						var extension = $('#sub10').val().split('.').pop().toLowerCase();
							if(jQuery.inArray(extension, ['pdf']) == -1){
								new swal({
									title : 'Wrong Extension', 
									text: 'Please upload a pdf file', 
									icon: 'error'
								})
								console.log('extension wrong');
								$('#sub10').val('');
								return false;
							}
						}
					var formData = new FormData(this);
					console.log('uploading');

					$.ajax({
						type: "POST",
						url: '/maths/submissionj',
						data: formData, 
						cache: false,
						contentType: false,
						processData: false,
						success: function(result)
						{
							if(result == 'success'){
								new swal({
									title: 'Success',
									text: 'Submitted Successfully',
									icon: 'success'
								});
							}
							
							else {
								new swal({
									title: 'Error',
									text: 'error',
									icon: 'error'
								});
								console.log(result)
							}
						}
					});
				  });
			</script>
			<a class="btn btn-primary" type="button" href="../uploads/maths/<%=id%>-10.pdf">Check Uploaded pdf</a>

		</div>

		<br>

		<button class="btn btn-danger" type="button" align="center" id="end">End test</button>
		<script>
			$("#end").click(function(e){
				new swal ({
					title: "Thank you for attending", 
					icon: "success"
				}).then( (values)=>{
					window.location.href = 'https://wissenaire.org/'
				})
			})

		</script>

	</div>


  <!-- <script type="text/javascript" src="./javascripts/canvas.js"></script>   -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <script src="../javascripts/jquery.min.js"></script>

</body>
</html>